# فریمورک وب قدرتمند پایتون
django==4.2

# مدیریت تنظیمات محیطی (مانند .env) در Django
python-decouple

# درایور PostgreSQL برای پایتون با پشتیبانی از باینری
psycopg[binary]

# کار با تصاویر (باز کردن، ذخیره، پردازش)
Pillow

# تولید مستندات API برای Django REST Framework
drf-yasg

# فریمورک برای ساخت APIهای REST در Django
djangorestframework

# بازی تخته‌ای Gammon (مثال یا منطق بازی)
pygammon

# مدیریت دسترسی‌های Cross-Origin در Django
django-cors-headers

# سرور تولید برای Django
gunicorn

# ابزار فرمت‌بندی خودکار کد پایتون
black

# ابزار بررسی استانداردهای کدنویسی (linting)
flake8

# ابزار خط فرمان و مدیریت ورودی/خروجی
click==8.1.7

# ابزار کمکی برای رسم نمودارها و گراف‌ها
cycler==0.12.1

# مدیریت امنیت داده‌ها و تایید اعتبار
itsdangerous==2.1.2

# موتور قالب‌بندی برای تولید HTML
Jinja2==3.1.2

# حل معادلات و محاسبات ریاضی در نمودارها
kiwisolver==1.4.4

# مدیریت رشته‌ها و قالب‌بندی ایمن
MarkupSafe==2.1.3

# کتابخانه رسم نمودار و مصورسازی داده‌ها
matplotlib==3.8.1

# محاسبات عددی و آرایه‌ای
numpy==1.26.4

# تحلیل و پردازش متن‌ها
pyparsing==3.1.1

# مدیریت تاریخ و زمان در پایتون
python-dateutil==2.8.2

# محاسبات علمی و عددی پیشرفته
scipy==1.11.1

# پشتیبانی از نسخه‌های قدیمی‌تر پایتون (ابزار کمکی)
six==1.16.0

# ابزار کمکی برای فریمورک وب Flask و مدیریت درخواست‌ها
Werkzeug==2.3.7
